<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-warning fs-3" href="{% url 'home' %}">PyBurguer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="#">
              Contato <i class="bi bi-whatsapp"></i> 69 9999-0000</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="#">
              <i class="bi bi-geo-alt-fill"></i>Ariquemes, Rondonia
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item me-2">
                <button class="btn btn-large btn-warning">Login</button>
            </li>

            <li class="nav-item">
                <li class="nav-item me-2">
                <button class="btn btn-large btn-warning">Cadastre-se</button>
            </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>